* { margin: 0; padding: 0; }
body {
    background-color: #EEE;
    margin: 0;
    padding: 0;
}

.nav {
    list-style-type: none;
}

.nav li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}

/* Main links in the main nav*/
.nav li a {
    display: block;
    min-width: 120px;
    text-align: center;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #444;
    color: #FFF;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #48A9A6;
}

/* hover for first level links */
.nav li:hover a {
    background-color: #48A9A6;
}

/* style for the dropdown links */
.nav li:hover .sub-nav a {
   background-color: #888;
   color: #FFF;
   height: 30px;
   line-height: 30px;
}

/* hover state for the drop down links */
.nav li:hover .sub-nav a:hover {
    background-color: #4281A4;
    color: #FFF;
}

/* hide links till needed */
.sub-nav.hidden {
    display: none;
}

/* make sub nav verticle */
.sub-nav li {
    display: block;
    float: none;
}

/* show the dropdown on hover */
/* use adjacent sibling selector to select sub nav*/
.nav li a:hover + .sub-nav, .sub-nav:hover {
    display: block;
}

.sub-nav li a {
    width: auto;
    min-width:  100px;
}

.show-nav {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #48A9A6;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    display: none;
}

/* hide checkbox */
input[type=checkbox] {
    display: none;
}

/* show nav when invisible checkbox is checked */
input[type=checkbox]:checked ~ .nav {
    display: block;
}

@media screen and (max-width: 767px) {
    .nav {
        position: static;
        display: none;
    }
    .nav li {
        margin-bottom: 1px;
    }
    .nav li, .nav li a {
        width: 100%;
    }
    /* show the nav*/
    .show-nav {
        display: block;
    }
}